/* ---------------------

Home Page CSS

-----------------------*/



/* ---------------------- Hero Section CSS ------------------ */


#home-hero{

	display: flex;
	justify-content: flex-start;
	align-items: flex-end;

	height: 100vh;
	background: rgba(0, 0, 0, 0.74);
	position: relative;
	top: 0px;
	left: 0px;
	/* z-index: -1; */
	width: 100vw;
}

#home-hero .heroBack {
	width: 100%;
	position: absolute;
	z-index: -1;
	object-fit: cover;
}

#home-hero .home-hero-info{
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 1;

	padding: 40px 20px;
}

#home-hero .home-hero-info p{
	color: white;
	font-size: 18px;
	letter-spacing: 8px;
	padding: 10px 0px;
}

#home-hero .home-hero-info h1 {
	color: white;
	font-size: 66px;
	font-family:  var(--heavier-font);
	transition: all 1s ease-out;
	text-align: left;
	width: 60%;
}

.home-hero-info h1 span{
	font-family: var(--heavier-font);
}

#home-hero .home-hero-info h1:hover{
	cursor: pointer;
	color: transparent;
	-webkit-text-stroke: 2px white;
}

#home-hero .home-hero-info a{
	margin-top: 20px;
}

.video-container {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%; 
	overflow: hidden;
  }

.video-container video {
	/* Make video to at least 100% wide and tall */
	min-width: 100%; 
	min-height: 100vh; 

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}