/* ---------------------

Home Page CSS

-----------------------*/



/* ---------------------- Hero Section CSS ------------------ */


#home-hero{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#home-hero .hero-info {

}

#home-hero .hero-display {

}

#home-hero img{
    height: 10em;
}