

/* --------------- Navbar ---------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 20px 20px;
  border-bottom: .5px solid var(--gray-env);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;

}

nav .left, nav .mid, nav .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left */
nav .left img{
  height: 5em;
}

/* right */
nav .right ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-tabs li {
  margin: 10px 20px;
}

nav .nav-tabs li a{
  color: var(--inactive-text);
  font-weight: bold;
  /* font-size: 18px; */
}

nav .nav-tabs li a i{
  font-size: 10px;
}

nav .nav-tabs li a:hover{
  color: var(--primary-color);
}

nav .nav-tabs li .active {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}



/* Navbar Drawers */

nav .drawer {
	display: none;
	justify-content: space-around;
	align-items: center;
	background: white;
	position: absolute;
	z-index: 1000;
	padding: 26px;
	border-top: 5px solid var(--primary-color);
	min-width: 20em;
  top: 73px;
}

nav .drawer ul{
  margin: 10px;
}

nav .drawer ul li{
  margin: 10px;
  transition: padding .5s ease-in;
}

nav .drawer ul li:hover{
  padding-left: 4px;
}


nav .drawer ul li a{
  color: var(--pri-font-color);
  border-bottom: 3px solid transparent;
  transition: border .5s ease-in-out;
}

nav .drawer ul li a:hover{
  border-bottom: 3px solid var(--primary-color);
}


/* nav #servicesDrawer{

} */

nav #industriesDrawer{
  left: 51em;
}

nav #insightsDrawer {
	left: 57em;
  width: 35em;
}

nav #companyDrawer {
	min-width: 11em;
	left: 75em;
}