

/* --------------- Navbar ---------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 10px 20px;
}

nav .left, nav .mid, nav .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left */
nav .left img{
  height: 5em;
}

/* right */
nav .right ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-tabs li {
  margin: 10px 25px;
}

nav .nav-tabs li a{
  color: var(--gray-text);
  font-weight: bold;
  font-size: 18px;
}

nav .nav-tabs li a:hover{
  color: var(--primary-color);
}

nav .nav-tabs li .active {
  color: var(--primary-color);
}