

/* -------------------------------- Navbar --------------------------------- */

nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding: 20px 20px;
  border-bottom: .5px solid var(--gray-env);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 999;

}

nav .left, nav .mid, nav .right{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* left */
nav .left img{
  height: 5em;
}

/* right */
nav .right ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-tabs li {
	margin: 0px 20px;
	padding: 26px 0px;
}

nav .nav-tabs li a{
  color: var(--inactive-text);
  font-weight: bold;
  /* font-size: 18px; */
}

nav .nav-tabs li a i{
  font-size: 10px;
}

nav .nav-tabs li a:hover{
  color: var(--primary-color);
}

nav .nav-tabs li .active {
  color: var(--primary-color);
  font-size: 18px;
  font-weight: bold;
}

nav .right button{
  border: none;
  background: transparent;
  border-radius: 50px;
  padding: 10px 12px;
  font-size: 20px;
  margin: 10px;
  color: var(--inactive-text);
  transition: all .3s;
}

nav .right button:hover{
  cursor: pointer;
  background: rgba(255, 255, 255, 0.329);
}



/* Navbar Drawers */

nav .drawer {
	display: none;
	justify-content: space-around;
	align-items: center;
	background: white;
	position: absolute;
	z-index: 1000;
	padding: 26px;
	border-top: 5px solid var(--primary-color);
	min-width: 20em;
  top: 90px;
}

nav .drawer ul{
  margin: 10px;
}

nav .drawer ul li{
  margin: 10px;
  transition: padding .5s ease-in;
}

nav .drawer ul li:hover{
  padding-left: 4px;
}


nav .drawer ul li a{
  color: var(--pri-font-color);
  border-bottom: 3px solid transparent;
  transition: border .5s ease-in-out;
}

nav .drawer ul li a:hover{
  border-bottom: 3px solid var(--primary-color);
}

nav #industriesDrawer{
  left: 51em;
}

nav #insightsDrawer {
	left: 57em;
  width: 35em;
}

nav #companyDrawer {
	min-width: 11em;
	left: 75em;
}


/* ------------------ Sidebar ------------------ */


#sidebar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--background);
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 20%;
  height: 100vh;
  padding: 20px;
}

.initSidebar{
  opacity: 0;
  right: -500px;
}

.showSidebar{
  opacity: 1;
  right: 0px;
  animation: showSidebar .5s ease-in-out forwards;
}

@keyframes showSidebar {
  0%{
    opacity: 0;
    right: -500px;
  }
  100%{
    opacity: 1;
    right: 0px;
  }
}


.hideSidebar{
  right: -500px;
  animation: hideSidebar .5s ease-in-out forwards;
}

@keyframes hideSidebar {
  0%{
    opacity: 1;
    right: 0px;
  }
  100%{
    opacity: 0;
    right: -500px;
  }
}


/* #sidebar .sidebar-header{
  padding: 10px;
} */

#sidebar .sidebar-header button{
  border: none;
  background: transparent;
  border-radius: 50px;
  padding: 10px 16px;
  font-size: 24px;
  margin: 10px;
  color: var(--pri-font-color);
  transition: all .3s;
}

#sidebar .sidebar-header button:hover{
  cursor: pointer;
  background: rgba(173, 173, 173, 0.329);
}

#sidebar ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#sidebar ul li {
  width: 100%;
}

#sidebar ul li a {
	display: inline-block;
	padding: 18px 20px;
	border: 2px solid var(--primary-color);
	width: 100%;
	margin: 5px auto;
	border-radius: 10px;
	color: var(--primary-color);
  font-weight: bold;
}