
/* --------------------------------
  Lato: 100, 300, 400, 700, 900

  Open sans: 300, 400, 500, 600, 700, 800

  Oswald: 200 300 400 500 600

  Anton: 400
 
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root{

  /* ------- Colors ---------- */

  /* major colors */
  --background: white;
  --primary-color: #2c2fcf;
  --accent-color: #452ccf;

  /* Hover Colors */
  --primary-color-hover: #1d209c;
  --selection-hover: rgba(173, 173, 173, 0.329);

  /* Env Colors */
  --gray-env: rgb(204, 204, 204);
  
  /* text colors */
  --inactive-text: rgb(255, 255, 255);
  --pri-font-color: #202020;


  /* -------- Fonts ---------- */
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
  --heavy-font: 'Oswald', sans-serif;
  --heavier-font: 'Anton', sans-serif;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}



/* ----------------- Tags -------------------- */

a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}




/* ------------------ Utitlity Classes -------------------- */



/* Headings */
.hero-heading{
  font-family:  var(--heavy-font);
  font-size: 40px;
  text-align: center;
  /* margin: 20px; */
}



/* Buttons */
.pri-btn-hollow{
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 50px;
  margin: 10px 20px;
  transition: all 0.2s;
  font-weight: 600;
}

.pri-btn-hollow:hover{
  background-color: var(--primary-color);
  color: white;
}

.pri-btn{
  background-color: var(--primary-color);
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  color: white;
  border-radius: 50px;
  margin: 10px 20px;
  transition: all 0.2s;
  font-weight: 600;
}

.pri-btn:hover{
  background-color: transparent;
  color: var(--primary-color);
}

.pri-btn-solid {
  display: inline-block;
  background-color: var(--primary-color);
  padding: 15px 25px;
  color: white;
  border-radius: 5px;
  margin: 10px 0px;
  transition: all 0.2s;
  font-size: 20px;
  font-weight: 600;
  font-family: var(--primary-font);
}

.pri-btn-solid:hover{
  background: var(--primary-color-hover);
}



/* Miscellaneous */

.primary-text{
  color: var(--primary-color);
}

.accent-text{
  color: var(--accent-color);
}