
/* --------------------------------
  Lato: 100, 300, 400, 700, 900

  Open sans: 300, 400, 500, 600, 700, 800
 
--------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

:root{

  /* ------- Colors ---------- */

  /* major colors */
  --background: white;
  --primary-color: #2c2fcf;
  --accent-color: #452ccf;
  --gray-env: rgb(204, 204, 204);
  
  /* font colors */
  --inactive-text: rgb(153, 153, 153);

  /* -------- Fonts ---------- */
  --primary-font: 'Lato', sans-serif;
  --secondary-font: 'Open Sans', sans-serif;
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--primary-font);
}



/* ----------------- Tags -------------------- */

a{
  text-decoration: none;
}

ul, li{
  list-style: none;
}




/* ------------------ Utitlity Classes -------------------- */



/* Headings */
.hero-heading{
  font-size: 40px;
  width: 60%;
  text-align: center;
  margin: 10px auto;
}



/* Buttons */
.pri-btn-hollow{
  background-color: transparent;
  padding: 10px 20px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 50px;
  margin: 10px 20px;
  transition: all 0.2s;
  font-weight: 600;
}

.pri-btn-hollow:hover{
  background-color: var(--primary-color);
  color: white;
}




/* Miscellaneous */
.accent-text{
  color: var(--accent-color);
}